html{
   font-size:  62,5%;
}
body {
   background-color: #ebe9df;
   margin: 0;
}
.container-imgRolaMoca {
   width: 100%;
   height: 100vh;
   overflow: hidden;
   position: sticky;
   top: 0;
   z-index: -1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
}
.container-imgRolaMoca img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position:absolute;
   top: 0;
   left: 0;
   z-index: -2;
}

.container-nome-projeto {
   color: #ffff;
   text-align: left;
   padding-left: 30px;
}

.container-nome-projeto h1 {
   font-size: 7rem;
}

 .conteudo-site {
   position: relative;
   background-color: #ebe9df;
   padding: 50px 20px;
   min-height: 150vh;
 }

 .linha {
   height: 3px;
   width: 100%;
   background-color: #fff;
   z-index: 1;
   position: absolute;
   margin-bottom: 80px;
 }

 .titulo {
   color: #3c4122;
   font-size: 5.2rem;
   text-align: left;
 }

 .container-texto {
   width: 60vw;
 }

 .paragrafo1 {
   display: flex;
   flex-wrap: wrap;
 }

 .texto {
   font-size: 2.2rem;
   color: #3c4122;
   text-align: left;
 }

 .foto {
   width: 650px;
   height: 500px;
   background-color: white;
   margin-left: 30px;
 }